/* body{
    background: url(https://i.pinimg.com/originals/6d/b8/79/6db879dd84c0f0ead032170865abe273.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}
.backgroundHere{
    background: url(https://i.pinimg.com/originals/6d/b8/79/6db879dd84c0f0ead032170865abe273.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;

} */

.navbar a{
    float:left;
    text-align: center;
}
.logo{
    color: white;
}
.py-1{
    float: left;
    color: white;
}

#my-tabs.nav-tabs > a {
    padding: 8px 16px;
    margin:0;
    margin-right: -4px;
}